
body {
    text-align: center;
    position: relative;
}

p {
    font-size: calc(20px + 1vw);
}

#gameBoard {
    border: 1px solid black;
    margin: auto;
    aspect-ratio: 1;
    min-width: 250px;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gameBoardDiv {
    transition: .25s;
    border: 1px solid black;
    aspect-ratio: 1;
    font-size: calc(15px + 10vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.unwritten:hover {
    cursor: pointer;
    transition: .25s;
    background-color: rgb(179, 179, 179);
}

#controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 250px;
    max-width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: calc(15px + 3vw)
}

#resetButton {
    margin-top: 50px;
}